/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
h2    {color: #ffd700;}
h1    {color:rgb(2, 132, 130);}

.board {
	display: inline-block;
	height: 50%;
	width: 50%;
	float: left;
	margin: 8%;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px solid #000000;
    border-radius: 10px;
	background-color: yellow;
}

nav {
	background-color: #808080;
      
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}

#link {
	background-color: #ffbf00;
	color: #ffffff;
	padding: 35px;
    display: block;
    float: left;
	
}

#link:hover {
  background-color: #ee5f3c;
}

footer {
  background-color: #808080;
}